:root{
    --Nav-bar-color: #2c2b2b;
    
--main-text-color: #0f0e0e;

--primary-color: #6e6e6e;
}



html{
    background-color: var(--primary-color);
}
.nav-bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30px;
    background-color: --Nav-bar-color;
    color: --main-text-color;
    border: solid 2px ;
    list-style: none;
    margin:auto;
}

.nav-bar{
    background-color: var(--Nav-bar-color);
}
.nav-bar li {
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid black;
    margin: auto;
    color: --primary-color;
    background: black;
    

}

.cat-photo img {
    float: left;
    border: 5px solid #0f0f00;
    width: 300px;
    height: 300px;
    margin-right: 10px;
}
@media (max-width: 768px){
    .cat-photo img {
        float: unset;
        width: 150px; 
        height: 150px;
    } 
}
